@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.spotify {
  border-radius: 12px;
}

@media screen and (max-width: 667px) {
  body {
    overflow-x: hidden !important;
  }
  .container {
    max-width: 100% !important;
    overflow-x: hidden !important;
  }
}

.font {
  font-family: 'Italiana', serif;
}
